.repo-card {
    display: flex;
    flex-direction: column;
    border: #bbb solid 1px;
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;

}

.repo-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}